@import 'tailwindcss/base';

@import 'tailwindcss/components';
@import 'buttons';
@import 'form';

@import 'tailwindcss/utilities';

.n-form-item.n-form-item--top-labelled .n-form-item-label
{
    align-items: center;
    padding: 0;
    font-weight: 500;
}
.custom-scrollbar {
    @apply overflow-auto; /* Ensure the element can scroll */
}

.custom-scrollbar::-webkit-scrollbar {
    width: 3px; /* Scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-white rounded-md; /* Scrollbar track styles */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-lg border-4 border-gray-600; /* Scrollbar thumb styles */
}
